@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.accordeon {
  margin-top: 20px;

  .element-content {
    display: none;
    padding: 20px;
    font-size: 14px;
  }
  .element {
    margin-bottom: 6px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

    .title {
      cursor: pointer;
      padding: 17px 15px 17px 17px;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.5px;
      position: relative;
      transition: all 200ms ease-out;
    }

    &.active {
      .title {
        background: #e9bb26;
        color: #fff !important;
      }

      .element-content {
        display: block;
      }
    }
  }
}
.block {
  margin-top: 20px;
}
.column {
  margin-top: 20px;
}
ul, ol {
  padding-left: 20px;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: auto;
}
.box {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  &:hover {
    background: #e9bb26;
    transition: all 200ms ease-out;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  background: rgb(245, 245, 245);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}


@import 'media';